<h1>Don't wait and become the new Shakespeare</h1>
<form action='/signup' method='POST'>

  <label for=''>Email</label>
  <input type='text' name='email'>

  <label for=''>Password</label>
  <input type='password' name='password'>

  <button type='submit'>Become a quoter!</button>
</form>