
<h1 class="form-title">Welcome to Cyrano App</h1>
<h3 class="form-title form-title--subtitle">Find the best love quotes!</h3>
<main>
  <form action='/auth/login' method='POST'>

  <label for=''>User Name</label>
  <input type='text' name='username'>

  <label for=''>Password</label>
  <input type='password' name='password'>

  <button type='submit'>Get Quotes</button>
  </form>
  <div class="form-link">
    <span>Not a member?</span><a href="/signup">Sign up</a>
  </div>

  {{#if errorMessage}}
    <div class="err-message">{{errorMessage}}</div>
  {{/if}}
</main>
