
<h1>Welcome to Cyrano App</h1>
<h3>best love quotes app ever !!</h3>

<form action='/auth/login' method='POST'>

  <label for=''>User Name</label>
  <input type='text' name='username'>

  <label for=''>Password</label>
  <input type='password' name='password'>

  <button type='submit'>Get Quotes</button>
</form>
<div>
<span>Not a member?</span><a href="/signup">Sign up</a>
</div>

{{#if errorMessage}}
  <div>{{errorMessage}}</div>
  {{/if}}