<!-- CREATE QUOTE -->
<main>
  <div class="private-header">
    <button id="back-arrow"><img src="/images/arrow.svg" alt=""></button>
    <h1>Add quote</h1>
  </div>
  <form action='/add' method='POST' class="add-quote">
    <label for=''>Text</label>
    <textarea type='text' name='quote'></textarea>
    <button type='submit'>Submit</button>
  </form>

  <button class="btn-preview">Preview</button>
  <button class="close-preview">x</button>
  <button class="btn-preview hidden">Hide preview</button>
  <div class="add-quote-preview"></div>
  
  {{#if errorMessage}}
    <div class="err-message">{{errorMessage}}</div>
  {{/if}}

  {{> navbar}}
</main>
