<section>
  <a href="">Last</a>
  <a href="">Top</a>
  <a href="">Random</a>
</section>
<main>
  <h1>All quotes</h1>
  <div class="quotes-container">
    {{#each quotesList}}
      {{> quoteCard this}}
    {{/each}}
  </div>
  {{> navbar}}

</main>

