input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 11px 12px;
  cursor: pointer;
  width: 150px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff7f7a6;
  height: 100vh;
}

main {
  padding: 20px 20px 48px;
  margin-bottom: 20px;
  max-width: 525px;
  margin: 0 auto 20px;
}

main h1 {
  color: #4a4a4a;
}

input, button {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -50px;
}

.logo-container img {
  width: 300px;
}

.form-title {
  font-family: 'Caveat', cursive;
  text-align: center;
  color: #574144;
  width: 350px;
  margin: 50px auto 0;
  font-size: 40px;
}

.form-title--subtitle {
  font-weight: 100;
  font-size: 25px;
  margin: 0 auto;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
  max-width: 400px;
  margin: 30px auto 0;
  font-size: 16px;
}

form label {
  width: 300px;
  margin-bottom: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #2F4858;
}

form input {
  border: none;
  border-radius: 3px;
  height: 35px;
  width: 300px;
  padding: 5px 7px;
  margin: 5px 0;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(142, 142, 142, 0.82);
          box-shadow: 0px 0px 2px 0px rgba(142, 142, 142, 0.82);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #e10100ad;
  color: #f3f3f3;
  font-weight: bold;
  padding: 10px;
  margin-top: 30px;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

form--signup {
  background-color: black;
}

.form-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-link a {
  text-decoration: none;
  color: #2F4858;
  margin-left: 7px;
  font-weight: bold;
}

.form-link a:hover {
  text-decoration: underline;
}

.err-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  width: 260px;
  margin: 20px auto 0;
  padding: 10px;
  border-radius: 3px;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #e85b5b;
  color: #f5f5f5;
}

.home-header {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafbfa;
  -webkit-box-shadow: 0px 0px 2px 0px #2F4858;
          box-shadow: 0px 0px 2px 0px #2F4858;
}

.home-header a {
  outline: none;
  text-decoration: none;
  color: #2F4858;
  width: 100px;
  padding: 3px;
  text-align: center;
  border: 1px solid #2F4858;
}

.home-header a:first-of-type {
  border-radius: 3px 0 0 3px;
}

.home-header a:last-of-type {
  border-radius: 0 3px 3px 0;
}

.home-header a:active {
  background-color: #592d59;
}

.home-header .home-selected {
  background-color: #2F4858;
  color: white;
  border-color: 1px solid #2F4858;
}

.home-container {
  margin-top: 45px;
}

.quote-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  margin: 25px 0 15px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 2px 0px #2F4858;
          box-shadow: 0px 1px 2px 0px #2F4858;
}

.quote-card__text {
  font-family: 'Zilla Slab', serif;
  font-size: 21px;
}

.quote-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.quote-card__info form {
  margin: 0;
}

.quote-card__info__username {
  font-weight: bold;
  color: #2F4858;
}

.quote-card__info__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quote-card__info__actions button {
  outline: none;
  background: transparent;
  border: none;
  width: 28px;
  padding: 0;
  margin: 0;
}

.quote-card__info__actions button:hover {
  background-color: none;
}

.quote-card__info__actions button img {
  width: 28px;
  margin: 0 5px;
}

.quote-card__info__actions #fav-btn img {
  margin-top: -4px !important;
}

.quote-card__info__actions #fav-btn, .quote-card__info__actions #like-btn {
  margin: 0 5px;
}

.quote-card__info__actions .likes-text {
  color: #515F78;
}

.quote-card form {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.whatsapp-btn {
  width: 30px;
}

.whatsapp-btn img {
  width: 30px;
}

.delete-userQ-form {
  margin: 15px 0 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-top: 1px solid #cccccc;
}

.delete-userQ-form button {
  margin: 9px 0 0;
  padding: 0;
  width: 30px;
  background: transparent;
  -ms-flex-item-align: self-start;
      -ms-grid-row-align: self-start;
      align-self: self-start;
}

.delete-userQ-form img {
  width: 30px;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  background-color: #fafbfa;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
}

nav img {
  width: 20px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

ul a {
  text-decoration: none;
}

.search-quote {
  max-width: 400px;
  margin: 15px auto;
}

.search-quote input {
  padding: 0 50px 0 10px;
  width: 100%;
  height: 45px;
}

.search-quote button {
  background: transparent;
  margin-top: -48px;
  width: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 10px;
}

.search-quote img {
  width: 21px;
}

.private-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.private-header button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.private-header button img {
  width: 25px;
}

.private-header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form textarea {
  width: 85%;
  height: 105px;
  padding: 12px;
  border-radius: 3px;
  border: none;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(142, 142, 142, 0.82);
          box-shadow: 0px 0px 2px 0px rgba(142, 142, 142, 0.82);
}

.btn-preview {
  background-color: transparent;
  border: 1px solid #2f4858ed;
  color: #2f4858ed;
  border-radius: 5px;
  margin: 15px auto 0;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  width: 97px;
  justify-content: center;
}

.close-preview {
  display: none;
  position: absolute;
  right: 30px;
  margin-top: 20px;
  outline: none;
  border: none;
  background: transparent;
  font-size: 20px;
}

.hidden {
  display: none;
}

.add-quote-preview {
  display: none;
}

.profile .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile .user__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile .user__img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.profile .user h1 {
  width: 100%;
  margin: 15px 0 5px;
}

.profile .user a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 4px 8px;
  text-decoration: none;
  color: #4a4a4a;
  height: 23px;
  bottom: 0;
  -webkit-box-shadow: 0px 0px 4px 0 #2F4858;
          box-shadow: 0px 0px 4px 0 #2F4858;
}

.profile__selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 15px;
  border-top: 1px solid #2f485830;
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 0;
}

.profile__selector button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  border: none;
  background: transparent;
  padding: 10px 0;
  outline: none;
  cursor: pointer;
}

.profile__selector button:first-of-type {
  border-right: 1px solid #2F4858;
}

.profile__selector .not-selected {
  border-bottom: 1px solid #2f485830;
}

.profile__selector .selected {
  background-color: #2F4858;
  border: 1px solid #2F4858;
  color: #f3f3f3;
  font-weight: bold;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.profile__my-quotes {
  margin-top: 70px;
  display: block;
}

.profile__fav-quotes {
  margin-top: 70px;
  display: none;
}

.profile .delete-profile {
  margin-top: 0;
}

.profile .delete-profile button {
  background: transparent;
  color: #e10100ad;
  border: 1px solid #e10100ad;
}

.logout-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
  width: 15%;
}

.logout-btn img {
  width: 30px;
}
/*# sourceMappingURL=style.css.map */