$blue-dark: #2F4858;
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 11px 12px;
  cursor: pointer;
  width: 150px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #fff7f7a6;
  height: 100vh;
}
main {
  padding: 20px 20px 48px;
  margin-bottom: 20px;
  max-width: 525px;
  margin: 0 auto 20px;
  h1 {
    color: #4a4a4a;
  }
}

input, button {
  font-size: 16px;
}
.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: -50px;
  img {
    width: 300px;
  }
}
.form-title {
  font-family: 'Caveat', cursive;
  text-align: center;
  color: #574144;
  width: 350px;
  margin: 50px auto 0;
  font-size: 40px;
  &--subtitle {
    font-weight: 100;
    font-size: 25px;
    margin: 0 auto;
  }
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  max-width: 400px;
  margin: 30px auto 0;
  font-size: 16px;
  label {
    width: 300px;
    margin-bottom: 15px;
    box-sizing: border-box;
    color: $blue-dark;
  }
  input {
    border: none;
    border-radius: 3px;
    height: 35px;
    width: 300px;
    padding: 5px 7px;
    margin: 5px 0;
    box-shadow: 0px 0px 2px 0px rgba(142, 142, 142, 0.82);
    box-sizing: border-box;
  }
  button {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #e10100ad;
    color: #f3f3f3;
    font-weight: bold;
    padding: 10px;
    margin-top: 30px;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
  }
  &--signup {
    background-color: black;
  }
}
.form-link {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  a {
    text-decoration: none;
    color: $blue-dark;
    margin-left: 7px;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}
.err-message {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  width: 260px;
  margin: 20px auto 0;
  padding: 10px;
  border-radius: 3px;
  align-self: center;
  background-color: #e85b5b;
  color: #f5f5f5;
}
.home-header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  align-items: center;
  background-color: #fafbfa;
  box-shadow: 0px 0px 2px 0px $blue-dark;
  a {
    outline: none;
    text-decoration: none;
    color: $blue-dark;
    width: 100px;
    padding: 3px;
    text-align: center;
    border: 1px solid $blue-dark;
    &:first-of-type {
      border-radius: 3px 0 0 3px;
    }
    &:last-of-type {
      border-radius: 0 3px 3px 0;
    }
    &:active {
      background-color: #592d59;
    }
  }
  .home-selected {
    background-color: $blue-dark;
    color: white;
    border-color: 1px solid $blue-dark;
  }
}
.home-container {
  margin-top: 45px;
}
.quote-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 15px;
  margin-top: 18px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px $blue-dark;
  &__text {
    font-family: 'Zilla Slab', serif;
    font-size: 21px;
  }
  &__info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 15px;
    form {
      margin: 0;
    }
    &__username {
      font-weight: bold;
      color: $blue-dark;
    }
    &__actions {
      display: flex;
      button {
        outline: none;
        background: transparent;
        border: none;
        width: 28px;
        padding: 0;
        margin: 0;
        &:hover {
          background-color: none;
        }
        img {
          width: 28px;
          margin: 0 5px;
        }
      }
      #fav-btn {
        img {
          margin-top: -4px!important;
        }
      }
      #fav-btn, #like-btn {
        margin: 0 5px;
      }
      .likes-text {
        color: #515F78;
      }
    }
  }
  form {
    flex-direction: row;
  }
}
.delete-userQ-form {
  margin: 15px 0 0;
  justify-content: flex-end;
  border-top: 1px solid #cccccc;
  button {
    margin: 9px 0 0;
    padding: 0;
    width: 30px;
    background: transparent;
    align-self: self-start;
  }
  img {
    width: 30px;
  }
}
nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  background-color: #fafbfa;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
  img {
    width: 20px;
  };
}
ul {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: space-around;
  a {
    text-decoration: none;
  }
}

// search
.search-quote {
  max-width: 400px;
  margin: 15px auto;
  input {
    padding: 0 50px 0 10px;
    width: 100%;
    height: 45px;
  }
  button {
    background: transparent;
    margin-top: -48px;
    width: 30px;
    align-self: flex-end;
    margin-right: 10px;
  }
    img {
      width: 21px;
    }
  }
// /add
.private-header {
  display: flex;
  button {
    display: flex;
    width: 15%;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    img {
      width: 25px;
    }
  }
  h1 {
    display: flex;
    width: 70%;
    justify-content: center;
  }
}
form {
  textarea {
    width: 85%;
    height: 105px;
    padding: 12px;
    border-radius: 3px;
    border: none;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    box-shadow: 0px 0px 2px 0px rgba(142, 142, 142, 0.82);
  }
}
.btn-preview {
  background-color: transparent;
  border: 1px solid #2f4858ed;
  color: #2f4858ed;
  border-radius: 5px;
  margin: 15px auto 0;
  padding: 5px;
  display: flex;
  justify-content: center;
  outline: none;
  width: 97px;
  justify-content: center;
}
.close-preview {
  display: none;
  position: absolute;
  right: 30px;
  margin-top: 20px;
  outline: none;
  border: none;
  background: transparent;
  font-size: 20px;
}
.hidden {
  display: none;
}
.add-quote-preview {
  display: none;
}

// profile
.profile {
  .user {
    display: flex;
    flex-direction: column;
    &__top {
      display: flex;
      justify-content: space-between;
    }
  
    &__img {
      width: 50px;
      height: 50px;
      border-radius: 30px;
    }
    h1 {
      width: 100%;
      margin: 15px 0 5px;
    }
    a {
      display: flex;
      align-items: center;
      background-color: white;
      border-radius: 5px;
      padding: 4px 8px;
      text-decoration: none;
      color: #4a4a4a;
      height: 23px;
      bottom: 0;
      box-shadow: 0px 0px 4px 0 $blue-dark;
    }
  }
  &__selector {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    border-top: 1px solid #2f485830;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    button {
      display: flex;
      justify-content: center;
      width: 50%;
      border: none;
      background: transparent;
      padding: 10px 0;
      outline: none;
      cursor: pointer;
      &:first-of-type {
        border-right: 1px solid $blue-dark;
      }
    }
    .not-selected {
      border-bottom: 1px solid #2f485830;
    }
    .selected {
      background-color: $blue-dark;
      border: 1px solid $blue-dark;
      color: #f3f3f3;
      font-weight: bold;
      transition: 0.5;
    }
  }
  &__my-quotes {
    margin-top: 70px;
    display: block;
  }
  &__fav-quotes {
    margin-top: 70px;
    display: none;
  }
  .delete-profile {
    margin-top: 0;
    button {
      background: transparent;
      color: #e10100ad;
      border: 1px solid #e10100ad;
    } 
  }
}
.logout-btn {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    cursor: pointer;
    width: 15%;
    img {
      width: 30px;
    }
}
