<nav>
  <ul>
    <li><a href="/home"><img src="/images/heart.svg" alt=""></a></li>
    <li><a href="/search"><img src="/images/search.svg" alt=""></a></a></li>
    <li><a href="/add"><img src="/images/add.svg" alt=""></a></a></li>
    <li><a href="/profile"><img src="/images/profile.svg" alt=""></a></a></li>
  </ul>
</nav>