<div class="quote-card">
  <p>{{this.text}}</p>
  <div class="quote-card__info">
    <p>{{this.author.username}}</p>
    <div class="quote-card__info__actions">
      <button>Like</button>
      <span>20</span>
      <button>Fav</button>  
    </div>
    
  </div>
</div>

